
@{
    Layout = null;
}




@model WareHouse22.ViewModel.EquipmentViewModel
@using WareHouse22.Models


<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Home</title>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>

    <script src="~/Scripts/projectScripts/Home.js"></script>
    <!-- Add Item Modal -->
    <div class="modal fade" id="addItemModal" tabindex="-1" role="dialog" aria-labelledby="addItemModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Add item</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <!--Modal content-->
                    <div class="box">
                        <div class="mb-3">
                            <label class="form-label">Item Code</label>
                            <div class="input-group input-group-merge">
                                <input type="text" class="form-control" id="Code" placeholder="ZR772B1" aria-label="Mark Williams" aria-describedby="Code">
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Name</label>
                            <div class="input-group input-group-merge">
                                <input type="text" class="form-control" id="Name" placeholder="Micro HDMI" aria-label="Mark Williams" aria-describedby="Code">
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Max loan time (days)</label>
                            <div class="input-group input-group-merge">
                                <input type="number" class="form-control" id="MaxLoanTime" placeholder="14" aria-label="Mark Williams" aria-describedby="Code">
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">State</label>
                            <select id="State" class="form-select" aria-label="Default select example">
                                <option selected>Select state</option>
                                <option value="Exellent">Exellent</option>
                                <option value="Good">Good</option>
                                <option value="Bad">Bad</option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Category</label>
                            <select id="Category" class="form-select" aria-label="Default select example">
                                <option selected>Select category</option>
                                <option value="Camera">Camera</option>
                                <option value="Record">Record</option>
                                <option value="Apple">Apple</option>
                                <option value="Tripod">Tripod</option>
                                <option value="Projectors">Projectors</option>
                                <option value="Cables">Cables</option>
                                <option value="Ligths">Ligths</option>
                                <option value="Convertors">Convertors</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Instructions</label>
                            <div class="input-group input-group-merge">
                                <textarea id="Instruction" class="form-control" aria-label="With textarea"></textarea>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" onclick="SaveItem()" data-dismiss="modal" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <!--Loan Item Modal-->
    <div class="modal fade" id="LoanItemModal" tabindex="-1" role="dialog" aria-labelledby="LoanItemModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Loan item</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <!--Modal content-->
                    <div class="box">
                        <div class="mb-3">
                            <label class="form-label">Start loan date</label>
                            <div class="input-group input-group-merge">
                                <input type="date" class="form-control" id="StartLoanDate">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">End loan date</label>
                            <div class="input-group input-group-merge">
                                <input type="date" class="form-control" id="EndLoanDate">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" onclick="LoanItem()" data-dismiss="modal" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Delay Policy Modal -->
    <div class="modal fade" id="DelaysPolicyModal" tabindex="-1" role="dialog" aria-labelledby="addItemModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    DelaysPolicyModal
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="Home">
            <img src="~/media/warehouse.png" style="width: 30px; margin-left:10px" />
            Warehouse
        </a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item active">
                    <a class="nav-link" href="Home">Home <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-toggle="modal" data-target="#DelaysPolicyModal" href="#">Delays policy</a>
                </li>
                <li class="nav-item dropdown" id="btnAdminDisabled">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Admin
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" data-toggle="modal" data-target="#addItemModal" href="">Add Item</a>
                        <a class="dropdown-item" href="#">Make Reports</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>


    <!--Main-->
    <main role="main">

        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">Visual communication warehouse</h1>
                <p class="lead text-muted"><span id="ShowFirstName" style="font-weight:bold"></span>, welcome to our online archive of the Visual Communication Department, where creativity and communication converge.</p>
                <p>
                    <a href="/Users/UserProfile" class="btn btn-primary my-2"> <img src="~/media/user.png" style="width: 22px; margin-right:10px" />User Profile</a>
                    <a href="/Users" class="btn btn-danger my-2"> <img src="~/media/logout.png" style="width: 20px; margin-right: 10px" />Logout</a>
                </p>
            </div>
        </section>
        <style>
            .center {
                margin: auto;
                width: 70%;
                padding: 10px;
            }
        </style>

        <div class="center" id="CategoryDiv">
            <div>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" id="SearchInput" placeholder="Search Item" aria-label="Search">
                    <a class="btn btn-outline-success" onclick="ViewItems()">Search</a>
                </form>
            </div>
            <p> </p>
            <div class="container">

                <div class="row">
                    <div class="col-md-3">
                        <div class="card">
                            <img class="card-img-top" src="~/media/Categories/Camera.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Camera</h5>
                                <a href="#" name="Camera" class="btn btn-primary" onclick="ViewItems('Camera')">View Items</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <img class="card-img-top" src="~/media/Categories/apple.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Apple</h5>
                                <a href="#" class="btn btn-primary" onclick="ViewItems('Apple')">View Items</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <img class="card-img-top" src="~/media/Categories/light-bulb.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Light</h5>
                                <a href="#" class="btn btn-primary" onclick="ViewItems('Lights')">View Items</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <img class="card-img-top" src="~/media/Categories/rec.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Records</h5>
                                <a href="#" class="btn btn-primary" onclick="ViewItems('Records')">View Items</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-10"><p> </p><p> </p></div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="card">
                            <img class="card-img-top" src="~/media/Categories/projector.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Projectors</h5>
                                <a href="#" class="btn btn-primary" onclick="ViewItems('Projectors')">View Items</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <img class="card-img-top" src="~/media/Categories/reload.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Convertors</h5>
                                <a href="#" class="btn btn-primary" onclick="ViewItems('Convertors')">View Items</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <img class="card-img-top" src="~/media/Categories/tripod.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Tripods</h5>
                                <a href="#" class="btn btn-primary" onclick="ViewItems('Tripods')">View Items</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card">
                            <img class="card-img-top" src="~/media/Categories/wiring.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Cables</h5>
                                <a href="#" class="btn btn-primary" onclick="ViewItems('Cables')">View Items</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Category Table-->
        <div id="ShowCategory" class="center">
            <form action="ShowEquipment" method="post">
                <table style="font-size:20px" class="sortable table table-hover" id="table" name="table">
                    <thead>
                        <tr>
                            <th scope="col">Num.</th>
                            <th scope="col">Code</th>
                            <th scope="col">Name</th>
                            <th scope="col">Category</th>
                            <th scope="col">State</th>
                            <th scope="col">MaxLoanTime</th>
                            <th scope="col">Instruction</th>
                            <th scope="col">Loan</th>
                        </tr>
                    </thead>
                    <tbody id="tbl_body">
                    </tbody>
                </table>
            </form>
            <a href="" class="btn btn-primary">Go back </a>
        </div>
    </main>


    <style>
        #floating-button {
            position: fixed;
            bottom: 20px;
            right: 20px;
        }
    </style>
    <a id="floating-button" href="">
        <img src="~/media/upload-button.png" />
    </a>

    <script>

        document.getElementById('ShowCategory').style.display = "none"
        var Email = localStorage.getItem("Email");
        localStorage.setItem('email', Email)

        var FirstName = localStorage.getItem("FirstName");

        document.getElementById("ShowFirstName").innerHTML = FirstName;
        var Role = localStorage.getItem("Role");
        if (Role == 'A')
            document.getElementById('btnAdminDisabled').hidden = false

        else
            document.getElementById('btnAdminDisabled').hidden = true
        var Code;

        function delay() {
            $(document).ready(function () {
                $("#myBtn").click(function () {
                    $("#myModal").modal();
                });
            });
        }


        //Modal
        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').trigger('focus')
        })

        function SaveItem() {
            var Code = document.getElementById("Code").value;
            var Name = document.getElementById("Name").value;
            var State = document.getElementById("State").value;
            var Category = document.getElementById("Category").value;
            var Instruction = document.getElementById("Instruction").value;
            var MaxLoanTime = document.getElementById("MaxLoanTime").value;
            if (Code == "" || Name == "" || State == "" || Category == "" || Instruction == "" || MaxLoanTime == "") {
                Swal.fire({
                    icon: 'error',
                    title: 'Please  fill all fields',
                })
            }
            else {
                $.ajax({
                    type: "POST",
                    url: "AddItem",
                    data: {
                        Code: Code,
                        Name: Name,
                        State: State,
                        Category: Category,
                        Instruction: Instruction,
                        MaxLoanTime: parseInt(MaxLoanTime)
                    },
                    dataType: "json",
                    success: function (r) {
                        if (r.status === "false") {
                            Swal.fire({
                                icon: 'error',
                                title: 'Item already exist',
                            })
                        }
                        else {
                            Swal.fire({
                                icon: 'success',
                                title: 'Item added successfully',
                            })
                        }
                    }
                })
            }
        }



        function ViewItems(SearchValue) {
            if (SearchValue === undefined) {
                SearchValue = document.getElementById("SearchInput").value;
            }
            $("#tbl_body").empty();
            document.getElementById('CategoryDiv').style.display = "none"
            document.getElementById('ShowCategory').style.display = "block"
            $.ajax({
                type: "POST",
                url: "ShowEquipment",
                data: {
                    SearchInput: SearchValue
                },
                success: (res) => {
                    var i = 1;
                    res.equipmentlist.map(element => {
                        const temp = ` <tr scope="row">
                                        <td>${i}</td>
                                        <td>${element.Code}</td>
                                        <td>${element.Name}</td>
                                        <td>${element.Category}</td>
                                        <td>${element.State}</td>
                                        <td>${element.MaxLoanTime}</td>
                                        <td>${element.Instruction}</td>
                                        <td>
                                            <a id="book" data-toggle="modal" onclick="SaveItemCode('${element.Code}')" data-target="#LoanItemModal" class="btn btn-info" style="font-size:15px " >
                                                Loan
                                            </a>
                                        </td>
                                    </tr>`
                        $("#tbl_body").append(temp);
                        i++;
                    })
                }
            })
        }

        const floatingButton = document.querySelector('#floating-button');

        function LoanItem() {
            var StartDate = document.getElementById("StartLoanDate").value;
            var ReturnDate = document.getElementById("EndLoanDate").value;
            if (!StartDate || StartDate == "" || !ReturnDate || ReturnDate == "") {
                Swal.fire({
                    icon: 'error',
                    title: 'Please  fill all fields',
                })
            }
            else {
                $.ajax({
                    type: "POST",
                    url: "LoanItem",
                    data: {
                        Code: Code,
                        Email: Email,
                        StartDate: StartDate,
                        ReturnDate: ReturnDate
                    },
                    dataType: "json",
                    success: function (r) {
                        if (r.status === "false") {
                            if (r.reason === "taken") {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Item already order in those dates',
                                })
                            }
                            else {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'You can order this item for maximum ' + r.maxloan + ' days only',
                                })
                            }
                        }
                        else {
                            Swal.fire({
                                icon: 'success',
                                title: 'Loan complete successfully',
                            })
                        }
                    }
                })
            }
        }

        function SaveItemCode(ItemCode) {
            Code = ItemCode;
        }
        floatingButton.addEventListener('click', function () {
            window.scrollTo(0, 500);
        });




    </script>
</body>
</html>


